<main>
    
  <div *ngIf="loading" class="loading">
      <img  src="../../../assets/loading.svg" alt="Carregando">
      <p class="ff-poppins aguarde">AUGUARDE...</p>
  </div>
  
  <div *ngIf="!loading">
      <h1 class="ff-poppins">
          Olá! Veja os amigos disponíveis para adoção!
      </h1>

      <div class="cadastroPet">
          <button class="botaoPostar" routerLink='/postar'>Cadastre um Pet</button>
          <button class="botaoPostar" routerLink='/cadastro'>Cadastre um Usuário</button>
      </div>
      
      <div class="ff-poppins pet" *ngIf="listPets.length > 0; else semPet">
          <section *ngFor="let pet of listPets">
              
            <div class="ImagemPet">
                <img  [src]="getPetImage(pet.imageName) | async" alt="Imagem do Pet">
            </div>

            <div class="dados">
                <div class="h2Excluir">
                    <h2>{{ pet.petName }}</h2>
                    <button class="botaoExcluir" (click)="openModal(pet, 'ModalExcluir')" ><img src="../../../assets/icone-excluir.png" alt="botão excluir"></button>
                </div>
                <p class="perfil">
                    {{ pet.idadePet }}<br>
                    {{ pet.tamanhoPet }}<br>
                    {{ pet.comment }}
                </p>
                <p class="location">{{ pet.cidadePet }}</p>
                <p class="contato" (click)="openModal(pet, 'ModalContato')"><img src="../../../../assets/icone_mensagem.svg" aria-hidden="true">Falar com responsável</p>
            </div>

            <div *ngIf="pet.showModal" class="modal-background">
                <div class="modal">
                    <div class="botaoFechar">
                        <button (click)="closeModal(pet, 'ModalContato')">
                            <img src="../../../assets/Botão-de-Fechar.png" alt="botão fechar">
                        </button>
                    </div>
                    <div style="align-items: flex-start;">
                        <h2 class="ff-poppins modalH2">{{ pet.petName }}</h2>
                        <p class="ff-poppins info">ONG responsável:<span> {{ pet.usuario.nomeUsuario }}</span></p>
                        <p class="ff-poppins info">Telefone:<span> {{ pet.usuario.telefoneUsuario }}</span></p>
                        <p class="ff-poppins info">Email:<span> {{ pet.usuario.email }}</span></p>
                    </div>
                </div>
              </div>

              <div *ngIf="pet.showDeleteModal" class="modal-background">
                <div class="modal">
                    <div class="botaoFechar">
                        <button (click)="closeModal(pet, 'ModalExcluir')">
                            <img src="../../../assets/Botão-de-Fechar.png" alt="botão fechar">
                        </button>
                    </div>
                    <div style="align-items: flex-start;">
                        <h2 class="ff-poppins modalH2" style="font-size: 14px; margin-top: 1.5rem !important;">Tem certeza que deseja excluir {{ pet.petName }} ?</h2>
                        <div class="botoesModal">
                            <button class="botaoExcluir" (click)="excluir(pet.idPost, pet, 'ModalExcluir')">Sim</button>
                            <button class="botaoExcluir" (click)="closeModal(pet, 'ModalExcluir')">Cancelar</button>
                        </div>
                    </div>
                </div>
              </div>

          </section>
      </div>
  </div>

  <ng-template #semPet>
      <p class="erro">Não foi possível carregar os Pets. Tente novamente mais tarde</p>
  </ng-template>
</main>