footer {
  text-align: center;
  font-weight: 400;
  line-height: 1.5rem;
  background-color: #36D6AD;
  margin: 0.125rem;
  }

p {
  // color: #FFF;
  margin: 0;
}

.link {
  font-size: 10px;
}

.desenvolvido {
  font-size: 1rem;
  padding: 2.5rem;
}

.copy {
  font-size: 1rem;
  color: #fff;
}
