<main>
    <div>
        <h2 class="ff-poppins">Esse é o perfil que aparece para responsáveis ou ONGs que recebem sua mensagem.</h2>
        <form action="" class="ff-poppins">
            <h3>Perfil</h3>
            <label for="imagem">Foto</label>
            <input type="file" name="imagem" id="imagem" accept="">

            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" required placeholder="Insira seu nome completo">
            
            <label for="telefone">Telefone</label>
            <input style="color: #BCBCBC" type="tel" name="telefone" id="telefone" required placeholder="Insira seu telefone e/ou whatsapp">
            
            <label for="pet">Cidade</label>
            <input type="text" name="cidade" id="cidade" required placeholder="Insira o nome da sua cidade">
            
            <label for="mensagem">Sobre</label>
            <textarea cols="70" rows="10" name="sobre" id="sobre" placeholder="Escreva sua mensagem.">Escreva sobre você</textarea>
            
            <button class="salvar">Salvar</button>
        </form>
    </div>
</main>
