<main>
    <h1><img src="../../../../assets/LogoAzul.svg" alt="Logo adopet"></h1>
    <p>
        Ainda não tem cadastro?
        Então, antes de buscar seu melhor amigo, precisamos de alguns dados:
    </p>
    <form action="">
        <label for="email">Email</label>
        <input type="email" name="Email" id="email">
        
        <label for="nome">Nome</label>
        <input type="text" name="Nome" id="nome">
        
        <label for="senha">Senha</label>
        <input type="password" name="Senha" id="senha">
        
        <label for="confirmaSenha">Confirme sua senha</label>
        <input type="password" name="confirmaSenha" id="confirmaSenha">
        
        <input type="button" value="Cadastrar">
    </form>
</main>
