<main>
    <h1><img src="../../../../assets/LogoAzul.svg" alt="Logo adopet azul"></h1>
    <p class="ff-poppins pergunta">Já tem conta? Faça seu login:</p>
    <form action="" class="ff-poppins">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" required placeholder="Insira seu email">
        
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha" required placeholder="Insira sua senha">
        
        <input type="button" value="Entrar" class="cadastrar">
    </form>
</main>
<!-- ver oq é action do form -->