<main>
    <div>
        <h2 class="ff-poppins">Envie uma mensagem para a pessoa ou instituição que está cuidando do animal:</h2>
        <form action="" class="ff-poppins">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" required placeholder="Insira seu nome completo">
            
            <label for="telefone">Telefone</label>
            <input style="color: #BCBCBC" type="tel" name="telefone" id="telefone" required placeholder="Insira seu telefone e/ou whatsapp">
            
            <label for="pet">Nome do animal</label>
            <input type="text" name="pet" id="pet" required placeholder="Por qual animal você se interessou?">
            
            <label for="mensagem">Mensagem</label>
            <textarea cols="70" rows="10" name="mensagem" id="mensagem" required placeholder="Escreva sua mensagem."></textarea>
            
            <button class="enviar">Enviar</button>
        </form>
    </div>
</main>
