<main>
    <div>
        <h1><img src="../../../assets/Logo.svg" alt="Logo adopet"></h1>
        <h2 class="ff-ibm-plex-sans">Boas-vindas!</h2>
        <p class="ff-poppins">Que tal mudar sua vida adotando seu novo melhor amigo? Vem com a gente!</p>
        <a class="ff-poppins" href="">Já tenho conta</a>
        <a class="ff-poppins" href="">Quero me cadastrar</a>
    </div>
    <img class="ilustracao" src="../../../assets/Ilustração 1.svg" alt="Ilustraçaõ de uma gato e um cão brancos com o fundo verde">
</main>
