<main>
    <div>
        <h1><img src="../../../../assets/LogoAzul.svg" alt="Logo adopet azul"></h1>
        
        <div *ngIf="loading" class="loading">
            <img  src="../../../assets/loading.svg" alt="Carregando">
            <p class="ff-poppins aguarde">AUGUARDE...</p>
        </div>

        <div *ngIf="!loading" >
            <p class="ff-poppins pergunta">Já tem conta? Faça seu login:</p>
            <form (ngSubmit)="logar()" class="ff-poppins" #logarForm="ngForm">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" required placeholder="Insira seu email" [(ngModel)]="formData.email">
                
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" required placeholder="Insira sua senha" [(ngModel)]="formData.senha">
                
                <button type="submit" value="Entrar" class="entrar">Entrar</button>
            </form>
            <div *ngIf="loginError" class="error-msg">{{ loginError }}</div>
        </div>
    </div>
</main>