.div {
    background-color: #3772FF;
    background-image: url('../assets/Forma1.svg'), url('../assets/Forma2.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top left, right;
}