<main>
    <div>
        <h1><img src="../../../../assets/LogoAzul.svg" alt="Logo adopet"></h1>

        <div *ngIf="loading" class="loading">
            <img  src="../../../assets/loading.svg" alt="Carregando">
            <p class="ff-poppins aguarde">AUGUARDE...</p>
        </div>

        <div *ngIf="!loading">
            <p class="ff-poppins pergunta">
                Ainda não tem cadastro?
            </p>
            <p class="ff-poppins">
                Então, antes de buscar seu melhor amigo, precisamos de alguns dados:
            </p>

            <form (ngSubmit)="cadastrarUsuario()" class="ff-poppins" #cadastroForm="ngForm">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required placeholder="Escolha seu melhor email" [(ngModel)]="formData.email">
                
                <label for="nomeUsuario">Nome</label>
                <input type="text" name="nomeUsuario" id="nomeUsuario" required placeholder="Digite seu nome completo" [(ngModel)]="formData.nomeUsuario">
                
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" required placeholder="Crie uma senha" [(ngModel)]="formData.senha">
                
                <label for="confirmaSenha">Confirme sua senha</label>
                <input type="password" name="confirmaSenha" id="confirmaSenha" required placeholder="Repita a senha criada acima" [(ngModel)]="confirmaSenha">
                
                <button type="submit" value="Cadastrar" class="cadastrar">Cadastrar</button>
            </form>
        </div>
    </div>
</main>
