<main>
    <h1 class="ff-poppins">
        Olá! Veja os amigos disponíveis para adoção!
    </h1>
    <div class="ff-poppins pet" *ngIf="listPets.length > 0, else semPet">
        <section *ngFor="let pet of listPets">
            <img [src]="'https://' + variableValue + '-86-5.ngrok-free.app/plubi/images/' + pet.imageName" alt="Imagem do Pet">
            <div class="dados">
                <h2>{{ pet.petName }}</h2>
                <p class="perfil">
                    {{ pet.idadePet }} anos<br>
                    {{ pet.tamanhoPet }}<br>
                    {{ pet.comment }}
                </p>
                <p class="location">{{ pet.cidadePet }}</p>
                <p class="contato" (click)="irParaMensagem()"><img src="../../../../assets/icone_mensagem.svg" aria-hidden="true">Falar com responsável</p>
            </div>
        </section>
    </div>
    <ng-template #semPet>
        <p class="erro">Deu ruim pra carregar os pets</p>
    </ng-template>
</main>