h1 {
    color: #3772FF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 2rem auto;
    width: 63%;
}

.pet {
    display: flex;
    flex-direction: column;
    gap: 1rem;


    section {
        display: flex;
        background-color: #F6F6F6;
        justify-content: space-around;
        padding: 16px 0 19px 0;

        .dados{
            display: flex;
            flex-direction: column;
        }

        h2 {
            color: var(--Azul, #3772FF);
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            margin-bottom: 0.5rem;
            margin-top: 0;
        }

        p {
            color: #737380;
            font-weight: 400;
            margin: 0;
        }

        .perfil {
            margin-bottom: 1.875rem;
            font-size: 14px;
            line-height: 20px;
        }

        .location {
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 7px;
        }

        .contato {
            display: flex;
            gap: 0.5rem;
            font-size: 10px;
            line-height: 16px;
        }
    }
}

.erro {
    font-size: 16px;
    color: red;
    text-align: center;
}