main {

}

h1 {
    color: #3772FF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

img {

}

p {
    color: #737380;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}