/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    // box-sizing: border-box;
}

.ff-poppins {font-family: 'Poppins', sans-serif;}
.ff-ibm-plex-sans {font-family: 'IBM Plex Sans', sans-serif;}