<main>
  <div class="post-form">
    
    <h2 class="ff-poppins">Crie um post para um animal que está procurando um novo lar:</h2>
    
    <div *ngIf="loading" class="loading">
      <img  src="../../../assets/loading.svg" alt="Carregando">
      <p class="ff-poppins aguarde">AUGUARDE...</p>
    </div>

    <form *ngIf="!loading" (ngSubmit)="criarPost()" class="ff-poppins" #postarForm="ngForm">

      <label for="imagem">Foto do Pet</label>
      <input type="file" id="imagem" name="imagem" accept="image/*">

      <label for="nomePet">Nome do Pet</label>
      <input type="text" id="nomePet" name="nomePet" [(ngModel)]="formData.nomePet" required placeholder="Insira o nome do pet">

      <label for="idadePet">Idade do Pet</label>
      <input type="number" class="idadeNumero" id="idadeNumero" name="idadeNumero" [(ngModel)]="formData.idadePet" required placeholder="Exemplo: 2 semanas">

      <label for="tamanhoPet">Tamanho do animal</label>
      <input type="text" id="tamanhoPet" name="tamanhoPet" [(ngModel)]="formData.tamanhoPet" required placeholder="Insira o tamanho do animal">

      <label for="cidadePet">Cidade do animal</label>
      <input type="text" id="cidadePet" name="cidadePet" [(ngModel)]="formData.cidadePet" required placeholder="Insira a cidade do animal">

      <button type="submit" class="enviar">Enviar</button>
    </form>
  </div>
</main>
